<manifest package="com.guardianvoice.uc.core" xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
        android:name="com.guardianvoice.uc.core.telecom.GvConnectionService"
        android:label="Guardian Voice UC"
        android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
      <intent-filter><action android:name="android.telecom.ConnectionService"/></intent-filter>
    </service>
    <service
        android:name="com.guardianvoice.uc.core.push.GvFcmService"
        android:exported="false">
      <intent-filter><action android:name="com.google.firebase.MESSAGING_EVENT"/></intent-filter>
    </service>
  </application>
</manifest>